body {
  margin: 0;
  height: 0;
  font-family: montMedium;
  font-size: 14px;
  background-color: #fff;
  color: #000000; }

@font-face {
  font-family: montRegular;
  src: url("../../font/Montserrat/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: montLight;
  src: url("../../font/Montserrat/Montserrat-ExtraLight.ttf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: montMedium;
  src: url("../../font/Montserrat/Montserrat-Medium.ttf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: montSemiBold;
  src: url("../../font/Montserrat/Montserrat-SemiBold.ttf");
  font-style: normal;
  font-weight: normal; }
header {
  width: 100%;
  background-image: url(../../image/background.png);
  height: 830px;
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto; }

.lang-part {
  z-index: 1;
  width: 100%;
  padding: 54px 0px; }
  .lang-part .all-event a {
    color: white; }
  .lang-part .all-event a:hover {
    text-decoration: none; }
  .lang-part .language {
    right: 10px; }
    .lang-part .language ul li a {
      color: #fff;
      font-size: 19px;
      text-decoration: none; }
    .lang-part .language ul li .sub-lang {
      display: none;
      padding: 5px 0px; }
      .lang-part .language ul li .sub-lang li {
        padding: 5px 0px; }
        .lang-part .language ul li .sub-lang li a:hover {
          text-decoration: underline; }
    .lang-part .language ul li:hover .sub-lang {
      display: none; }

.search-part {
  width: 100%; }
  .search-part .search-bar .search-container {
    width: 490px;
    display: block;
    margin-top: 5px;
    float: right;
    margin-right: 15px; }
  .search-part .search-bar input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid transparent;
    outline: none;
    color: #fff;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.13); }
    .search-part .search-bar input#search-bar:focus {
      border: none;
      transition: 0.35s ease;
      color: #fff; }
      .search-part .search-bar input#search-bar:focus::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0; }
      .search-part .search-bar input#search-bar:focus::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0; }
      .search-part .search-bar input#search-bar:focus:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0; }
  .search-part .search-bar ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    font-size: 14px;
    font-family: montLight; }
  .search-part .search-bar ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    font-size: 14px;
    font-family: montLight; }
  .search-part .search-bar :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    font-size: 14px;
    font-family: montLight; }
  .search-part .search-bar :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    font-size: 14px;
    font-family: montLight; }
  .search-part .search-bar i {
    position: relative;
    float: right;
    top: -31px;
    right: 23px;
    color: #fff;
    font-size: 20px; }

.acc-user {
  padding: 15px; }
  .acc-user i {
    color: #fff;
    font-size: 25px;
    padding-left: 10px; }

.slider-part {
  width: 100%; }
  .slider-part .sli-desc {
    margin: 35px 19px;
    padding: 0px; }
    .slider-part .sli-desc img {
      width: 100%; }
    .slider-part .sli-desc h1 {
      color: #fff;
      padding: 10px 14px;
      font-family: montSemiBold;
      font-size: 13px; }
    .slider-part .sli-desc a {
      text-decoration: none; }

.menu-part {
  width: 100%; }
  .menu-part .navbar-transparents {
    background: #00000069; }
    .menu-part .navbar-transparents .navbar-nav {
      width: 100%;
      text-align: center; }
    .menu-part .navbar-transparents .navbar-nav > li {
      float: none;
      display: inline-block; }
    .menu-part .navbar-transparents .nav > li > a:hover, .menu-part .navbar-transparents .nav > li > a:focus {
      text-decoration: none;
      background-color: #00000094;
      color: #fff; }
    .menu-part .navbar-transparents .navbar-nav > li > a {
      color: #fff;
      font-family: montMedium;
      padding-left: 40px;
      padding-right: 40px; }
    .menu-part .navbar-transparents .dropdown-menu {
      width: 100%;
      min-width: 100%;
      background-color: #00000087; }
      .menu-part .navbar-transparents .dropdown-menu a {
        color: #fff; }
    .menu-part .navbar-transparents .dropdown-menu > li > a:hover, .menu-part .navbar-transparents .dropdown-menu > li > a:focus {
      text-decoration: none;
      background-color: #8f8484; }

#events {
  background: #fff;
  position: relative;
  margin: 25px 0px; }
  #events .event-category .btn {
    width: 210px;
    padding: 10px 12px;
    border-radius: 30px; }
  #events .event-category .last-event .btn-primary {
    background-color: #4595d1;
    border: none; }
  #events .event-category .all-event .btn-danger {
    background-color: #c6207c;
    border: none; }
    #events .event-category .all-event .btn-danger i {
      padding-right: 10px; }
  #events .event-category .e-desc {
    background-color: #f8f8f8; }
    #events .event-category .e-desc a {
      text-decoration: none; }
    #events .event-category .e-desc img {
      width: 100%; }
    #events .event-category .e-desc h4 {
      font-size: 13px;
      padding: 10px;
      font-weight: 700;
      color: #000; }
    #events .event-category .e-desc p {
      font-size: 10px;
      font-weight: 700;
      padding: 0px 10px;
      color: #000; }
      #events .event-category .e-desc p span {
        color: #626262;
        color: #000; }
    #events .event-category .e-desc .time {
      display: inline-block;
      padding: 10px;
      font-weight: 700;
      color: #000; }
  #events .event-category .e-tab {
    margin-top: 40px; }

#select-brand {
  position: relative;
  width: 100%;
  margin-top: -65px;
  margin-bottom: 55px; }

.select-part .select-box {
  width: 100%;
  height: 125px;
  border-radius: 37px;
  box-shadow: 0px 7px 27px rgba(0, 0, 0, 0.35);
  background-color: #ffffff; }
  .select-part .select-box .select-tab {
    margin-top: 45px; }
    .select-part .select-box .select-tab .select-dropdown {
      display: inline-block;
      position: relative;
      color: #53565a;
      background-color: white;
      width: 85%;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently supported by Chrome and Opera */ }
      .select-part .select-box .select-tab .select-dropdown.active input[type="text"] {
        border-color: #00aeef;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
      .select-part .select-box .select-tab .select-dropdown.active i {
        top: 5px;
        transform: rotate(180deg);
        color: #00aeef; }
      .select-part .select-box .select-tab .select-dropdown.active ul {
        display: block; }
      .select-part .select-box .select-tab .select-dropdown input[type="text"] {
        position: relative;
        z-index: 1;
        color: #53565a;
        border-radius: 4px;
        border: none;
        outline: none !important;
        padding: 10px;
        font-size: 13px;
        text-overflow: ellipsis;
        width: 100%;
        background: transparent; }
      .select-part .select-box .select-tab .select-dropdown i {
        position: absolute;
        top: 6.5px;
        right: 5px; }
      .select-part .select-box .select-tab .select-dropdown ul {
        display: none;
        position: absolute;
        z-index: 999;
        background: white;
        width: calc(100% - 2px);
        list-style-type: none;
        border: 1px solid #b1babf;
        border-top: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 0;
        margin: 0; }
        .select-part .select-box .select-tab .select-dropdown ul li {
          cursor: pointer;
          padding: 10px 14px;
          font-size: 13px;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
          .select-part .select-box .select-tab .select-dropdown ul li:hover {
            background-color: #effbff; }
  .select-part .select-box .select-par {
    margin-top: 53px;
    padding: 0; }
    .select-part .select-box .select-par p {
      padding: 0px 0px 0px 30px;
      font-size: 12px;
      text-align: center; }
  .select-part .select-box .select-search {
    height: 100%;
    padding: 50px 25px;
    background-color: #3b8bd1;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px; }
    .select-part .select-box .select-search i {
      color: #fff; }

footer {
  background: url("../../image/background.png");
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  position: absolute; }
  footer .btn-danger {
    background-color: #c6207c;
    border: none; }
    footer .btn-danger:hover {
      background-color: #c6207c;
      border-color: #c6207c; }
    footer .btn-danger:active {
      background-color: #c6207c !important;
      border-color: #c6207c !important; }
    footer .btn-danger:focus {
      background-color: #c6207c !important;
      border-color: #c6207c !important; }
  footer .btn {
    width: 210px;
    padding: 10px 12px;
    border-radius: 30px; }
  footer .coming-events {
    margin: 40px 0px; }
  footer .date-events {
    padding: 10px 42px; }
  footer .e-scale {
    height: 110px;
    border-radius: 20px; }
    footer .e-scale .front {
      background: linear-gradient(to right, #ed4795, #e0058e);
      width: 110px;
      height: 110px;
      border-radius: 20px;
      padding: 25px; }
      footer .e-scale .front h5 {
        color: #fff;
        font-size: 45px; }
      footer .e-scale .front span {
        color: #fff;
        font-size: 17px;
        position: absolute;
        top: 65%; }
    footer .e-scale .back {
      background: url("../..//image/skripto.png");
      background-position: center;
      background-size: 100%;
      width: 110px;
      height: 110px;
      border-radius: 20px;
      position: absolute;
      top: 0;
      display: none; }
  footer a {
    text-decoration: none; }
    footer a:hover {
      text-decoration: none; }
      footer a:hover .back {
        display: block;
        transform: scale(1.2); }
  footer .footer-part {
    margin-top: 20px;
    background-color: #241327;
    padding: 40px 0px 20px 0px; }
    footer .footer-part .e-first span {
      font-size: 22px;
      color: #fff;
      font-family: montLight;
      font-style: italic; }
    footer .footer-part .e-second span {
      color: #fff; }
    footer .footer-part .social-az {
      padding: 10px 0px; }
      footer .footer-part .social-az span {
        color: #fff;
        font-family: montLight;
        font-style: italic;
        line-height: 1.3; }
    footer .footer-part .social-icon {
      padding: 10px 0px; }
      footer .footer-part .social-icon a {
        text-decoration: none;
        color: #fff;
        padding: 0px 0px 0px 15px; }
    footer .footer-part .e-logo {
      padding: 20px 0px; }
    footer .footer-part .e-brand {
      padding: 20px 0px; }
      footer .footer-part .e-brand img {
        padding: 0px 0px 0px 25px; }
  footer .footer-end {
    padding: 10px 0px; }
    footer .footer-end .copy {
      color: #fff;
      font-size: 12px; }
    footer .footer-end .footer-menu ul li {
      list-style-type: none;
      float: left;
      padding: 0px 5px; }
    footer .footer-end .footer-menu ul a {
      color: #fff; }

/*# sourceMappingURL=style.css.map */
